{% extends 'base.html.twig' %}

{% block title %}New Lesson{% endblock %}

{% block body %}
    <h1>Добавить урок</h1>

    {{ include('lesson/_edit_form.html.twig', {'button_label': 'Сохранить'}) }}

    <a class="btn btn-danger mt-2" href="{{ path('course_index') }}">Отмена</a>
{% endblock %}
